<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact sign in</title>
</head>
<body>
contact sign in page
<form method="post" action="/contact_sign_in">
            contactID<input type="text" name="contactID">
            <br />
            firstname<input type="text" name="firstname">
            <br />
            lastname<input type="text" name="lastname">
            <br />
            phone<input type="text" name="phone">
            <br />
            patientID<input type="text" name="patientID">
            <br />
            email<input type="text" name="email">
        <div style="color: red">{{error}}</div>
            <input type="submit" value="contact sign in">
        </form>

</body>
</html>