<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <a href = "/login">login</a>
  <br />
  <a href = "/logout">logout</a>
    {% if (session["firstname"] != None) %}
    <p>hello {{session["firstname"]}}</p>
  {% else %}
  <p> hello guest</p>
  {% endif %}
  {% if (events | length != 0) %}
    <table>
      {% for row in events %}
  <tr>
    <th> {{ row[0] }}</th>
    <th> {{ row[1] }}</th>
    <th> {{ row[2] }}</th>
    <th> {{ row[3] }}</th>
    <th> {{ row[4] }}</th>
    <th> {{ row[5] }}</th>

  </tr>
  {% endfor %}
</table>
  {% endif %}
</body>
</html>