<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body>

      <a href = "/">return to main page</a>
      <br />
        sign in page
        <form method="post">
            patientID<input type="text" name="patientID">
            <br />
            chipID<input type="text" name="chipID">
            <br />
            firstname<input type="text" name="firstname">
            <br />
            lastname<input type="text" name="lastname">
            <br />
            contactID<input type="text" name="contactID">
            <br />
            user name<input type="text" name="username">
            <br />
            password<input type="text" name="password">
        <div style="color: red">{{error}}</div>
            <input type="submit" value="sign in">
        </form>
</body>
</html>